@import "tailwindcss";


body{
  font-family: 'MyFont', sans-serif;
}

.banner{
  background-image: url("./assets/images/banner.svg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;

}


.personal{
  background-image: url("./assets/images/personal1.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

.bussiness {
  background-image: url("./assets/images/bussiness.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.money {
  background-image: url("./assets/images/money.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}