@font-face {
    font-family: 'MyFont';
    src: url('./assets/font/CircularStd-Book.woff2') format('woff2'),
        url('./assets/font/CircularStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}